# Importação de pacotes

In [1]:
from pyspark.sql import Row,DataFrame
from pyspark.sql.types import StringType, StructField, StructType, IntegerType
from pyspark.sql.functions import col, expr, lit,substring,concat, concat_ws, when, coalesce
from pyspark.sql import functions as functions
from functools import reduce

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [2]:
spark

# Leitura dos dados

In [3]:
dados_path = './banklist.csv'

dados = spark.read.csv(dados_path, sep=',', inferSchema=True, header=True)

In [4]:
print(f'Length: {dados.count()}')
print(f'N cols: {len(dados.columns)}')
print(f'Columns: {dados.columns}')

Length: 553
N cols: 7
Columns: ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date', 'Updated Date']

In [5]:
dados.show(5)

+--------------------+------------------+---+-----+---------------------+------------+------------+
|           Bank Name|              City| ST| CERT|Acquiring Institution|Closing Date|Updated Date|
+--------------------+------------------+---+-----+---------------------+------------+------------+
| Fayette County Bank|        Saint Elmo| IL| 1802| United Fidelity B...|   26-May-17|   26-Jul-17|
|Guaranty Bank, (d...|         Milwaukee| WI|30003| First-Citizens Ba...|    5-May-17|   26-Jul-17|
|      First NBC Bank|       New Orleans| LA|58302|         Whitney Bank|   28-Apr-17|   26-Jul-17|
|       Proficio Bank|Cottonwood Heights| UT|35495|    Cache Valley Bank|    3-Mar-17|   18-May-17|
|Seaway Bank and T...|           Chicago| IL|19328|  State Bank of Texas|   27-Jan-17|   18-May-17|
+--------------------+------------------+---+-----+---------------------+------------+------------+
only showing top 5 rows

# SQL + Spark

In [6]:
dados.createOrReplaceTempView('banklist')

df_check = spark.sql('''select `Bank Name`, City, `Closing Date` from banklist''')
df_check.show()

+--------------------+------------------+------------+
|           Bank Name|              City|Closing Date|
+--------------------+------------------+------------+
| Fayette County Bank|        Saint Elmo|   26-May-17|
|Guaranty Bank, (d...|         Milwaukee|    5-May-17|
|      First NBC Bank|       New Orleans|   28-Apr-17|
|       Proficio Bank|Cottonwood Heights|    3-Mar-17|
|Seaway Bank and T...|           Chicago|   27-Jan-17|
|Harvest Community...|        Pennsville|   13-Jan-17|
|         Allied Bank|          Mulberry|   23-Sep-16|
|The Woodbury Bank...|          Woodbury|   19-Aug-16|
|First CornerStone...|   King of Prussia|    6-May-16|
|  Trust Company Bank|           Memphis|   29-Apr-16|
|North Milwaukee S...|         Milwaukee|   11-Mar-16|
|Hometown National...|          Longview|    2-Oct-15|
| The Bank of Georgia|    Peachtree City|    2-Oct-15|
|        Premier Bank|            Denver|   10-Jul-15|
|      Edgebrook Bank|           Chicago|    8-May-15|
|          Doral Bank|          San Juan|   27-Feb-15|
|Capitol City Bank...|           Atlanta|   13-Feb-15|
|Highland Communit...|           Chicago|   23-Jan-15|
|First National Ba...|         Crestview|   16-Jan-15|
|  Northern Star Bank|           Mankato|   19-Dec-14|
+--------------------+------------------+------------+
only showing top 20 rows

# Operações básicas

In [7]:
dados.describe().show()

+-------+--------------------+-------+----+-----------------+---------------------+------------+------------+
|summary|           Bank Name|   City|  ST|             CERT|Acquiring Institution|Closing Date|Updated Date|
+-------+--------------------+-------+----+-----------------+---------------------+------------+------------+
|  count|                 553|    553| 553|              553|                  553|         553|         553|
|   mean|                null|   null|null|31729.65280289331|                 null|        null|        null|
| stddev|                null|   null|null|16420.59489355429|                 null|        null|        null|
|    min|1st American Stat...|Acworth|  AL|               91|      1st United Bank|    1-Aug-08|    1-Aug-13|
|    max|               ebank|Wyoming|  WY|            58701|  Your Community Bank|    9-Sep-11|    9-Sep-12|
+-------+--------------------+-------+----+-----------------+---------------------+------------+------------+

In [8]:
dados.describe('CERT','ST').show()

+-------+-----------------+----+
|summary|             CERT|  ST|
+-------+-----------------+----+
|  count|              553| 553|
|   mean|31729.65280289331|null|
| stddev|16420.59489355429|null|
|    min|               91|  AL|
|    max|            58701|  WY|
+-------+-----------------+----+

In [9]:
print(dados.dtypes)
print(dados.printSchema())

[('Bank Name', 'string'), ('City', 'string'), ('ST', 'string'), ('CERT', 'int'), ('Acquiring Institution', 'string'), ('Closing Date', 'string'), ('Updated Date', 'string')]
root
 |-- Bank Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- ST: string (nullable = true)
 |-- CERT: integer (nullable = true)
 |-- Acquiring Institution: string (nullable = true)
 |-- Closing Date: string (nullable = true)
 |-- Updated Date: string (nullable = true)

None

# Remover duplicados

In [10]:
dados = dados.dropDuplicates()

print(f'Length: {dados.count()}')
print(f'N cols: {len(dados.columns)}')

Length: 553
N cols: 7

Não há dados duplicados

# Seleção de colunas

In [11]:
select = dados.select('Bank Name', 'CERT')
select.show(5)

+--------------------+-----+
|           Bank Name| CERT|
+--------------------+-----+
|              InBank|20203|
|       Bank of Alamo| 9961|
|First Community B...|34943|
|The National Repu...|  916|
|           NOVA Bank|27148|
+--------------------+-----+
only showing top 5 rows

In [12]:
print(f'Length: {select.count()}')
print(f'N cols: {len(select.columns)}')

Length: 553
N cols: 2

# Renomear colunas

In [31]:
renamed = dados \
    .withColumnRenamed('Bank Name', 'bank_name')\
    .withColumnRenamed('Acquiring Institution', 'acq_institution')\
    .withColumnRenamed('Closing Date', 'closing_date')\
    .withColumnRenamed('Updated Date', 'updated_date')\
    .withColumnRenamed('ST', 'state')\
    .withColumnRenamed('CERT', 'cert')\
    .withColumnRenamed('City', 'city')

In [32]:
renamed.show(5)

+--------------------+----------+-----+-----+--------------------+------------+------------+
|           bank_name|      city|state| cert|     acq_institution|closing_date|updated_date|
+--------------------+----------+-----+-----+--------------------+------------+------------+
|              InBank|Oak Forest|   IL|20203|MB Financial Bank...|    4-Sep-09|   17-Oct-15|
|       Bank of Alamo|     Alamo|   TN| 9961|         No Acquirer|    8-Nov-02|   18-Mar-05|
|First Community B...|Fort Myers|   FL|34943|             C1 Bank|    2-Aug-13|    9-Feb-17|
|The National Repu...|   Chicago|   IL|  916| State Bank of Texas|   24-Oct-14|    6-Jan-16|
|           NOVA Bank|    Berwyn|   PA|27148|         No Acquirer|   26-Oct-12|   24-Jan-13|
+--------------------+----------+-----+-----+--------------------+------------+------------+
only showing top 5 rows

# Add colunas

In [33]:
add_column = dados.withColumn('state', col('ST'))
add_column.show(5)

+--------------------+----------+---+-----+---------------------+------------+------------+-----+
|           Bank Name|      City| ST| CERT|Acquiring Institution|Closing Date|Updated Date|state|
+--------------------+----------+---+-----+---------------------+------------+------------+-----+
|              InBank|Oak Forest| IL|20203| MB Financial Bank...|    4-Sep-09|   17-Oct-15|   IL|
|       Bank of Alamo|     Alamo| TN| 9961|          No Acquirer|    8-Nov-02|   18-Mar-05|   TN|
|First Community B...|Fort Myers| FL|34943|              C1 Bank|    2-Aug-13|    9-Feb-17|   FL|
|The National Repu...|   Chicago| IL|  916|  State Bank of Texas|   24-Oct-14|    6-Jan-16|   IL|
|           NOVA Bank|    Berwyn| PA|27148|          No Acquirer|   26-Oct-12|   24-Jan-13|   PA|
+--------------------+----------+---+-----+---------------------+------------+------------+-----+
only showing top 5 rows

# Add constant column

In [34]:
add_column = add_column.withColumn('country', lit('US'))
add_column.show(5)

+--------------------+----------+---+-----+---------------------+------------+------------+-----+-------+
|           Bank Name|      City| ST| CERT|Acquiring Institution|Closing Date|Updated Date|state|country|
+--------------------+----------+---+-----+---------------------+------------+------------+-----+-------+
|              InBank|Oak Forest| IL|20203| MB Financial Bank...|    4-Sep-09|   17-Oct-15|   IL|     US|
|       Bank of Alamo|     Alamo| TN| 9961|          No Acquirer|    8-Nov-02|   18-Mar-05|   TN|     US|
|First Community B...|Fort Myers| FL|34943|              C1 Bank|    2-Aug-13|    9-Feb-17|   FL|     US|
|The National Repu...|   Chicago| IL|  916|  State Bank of Texas|   24-Oct-14|    6-Jan-16|   IL|     US|
|           NOVA Bank|    Berwyn| PA|27148|          No Acquirer|   26-Oct-12|   24-Jan-13|   PA|     US|
+--------------------+----------+---+-----+---------------------+------------+------------+-----+-------+
only showing top 5 rows

# Drop column

In [35]:
drop_column = add_column.drop('CERT')
drop_column.show(5)

+--------------------+----------+---+---------------------+------------+------------+-----+-------+
|           Bank Name|      City| ST|Acquiring Institution|Closing Date|Updated Date|state|country|
+--------------------+----------+---+---------------------+------------+------------+-----+-------+
|              InBank|Oak Forest| IL| MB Financial Bank...|    4-Sep-09|   17-Oct-15|   IL|     US|
|       Bank of Alamo|     Alamo| TN|          No Acquirer|    8-Nov-02|   18-Mar-05|   TN|     US|
|First Community B...|Fort Myers| FL|              C1 Bank|    2-Aug-13|    9-Feb-17|   FL|     US|
|The National Repu...|   Chicago| IL|  State Bank of Texas|   24-Oct-14|    6-Jan-16|   IL|     US|
|           NOVA Bank|    Berwyn| PA|          No Acquirer|   26-Oct-12|   24-Jan-13|   PA|     US|
+--------------------+----------+---+---------------------+------------+------------+-----+-------+
only showing top 5 rows

# Drop multiple columns

In [36]:
drop_column = add_column.drop(*['CERT','ST'])
drop_column.show(5)

+--------------------+----------+---------------------+------------+------------+-----+-------+
|           Bank Name|      City|Acquiring Institution|Closing Date|Updated Date|state|country|
+--------------------+----------+---------------------+------------+------------+-----+-------+
|              InBank|Oak Forest| MB Financial Bank...|    4-Sep-09|   17-Oct-15|   IL|     US|
|       Bank of Alamo|     Alamo|          No Acquirer|    8-Nov-02|   18-Mar-05|   TN|     US|
|First Community B...|Fort Myers|              C1 Bank|    2-Aug-13|    9-Feb-17|   FL|     US|
|The National Repu...|   Chicago|  State Bank of Texas|   24-Oct-14|    6-Jan-16|   IL|     US|
|           NOVA Bank|    Berwyn|          No Acquirer|   26-Oct-12|   24-Jan-13|   PA|     US|
+--------------------+----------+---------------------+------------+------------+-----+-------+
only showing top 5 rows

# Filter data

In [37]:
# Equal
df_select = renamed.where(renamed['state'] == 'NY')
print(df_select.count())
df_select.show()

5
+--------------------+-------------+-----+-----+--------------------+------------+------------+
|           bank_name|         city|state| cert|     acq_institution|closing_date|updated_date|
+--------------------+-------------+-----+-----+--------------------+------------+------------+
|  LibertyPointe Bank|     New York|   NY|58071|Valley National Bank|   11-Mar-10|   23-Aug-12|
|       Reliance Bank| White Plains|   NY|26778|    Union State Bank|   19-Mar-04|    9-Apr-08|
|            USA Bank| Port Chester|   NY|58072|    New Century Bank|    9-Jul-10|   14-Sep-12|
|The Park Avenue Bank|     New York|   NY|27096|Valley National Bank|   12-Mar-10|   23-Aug-12|
|Waterford Village...|Williamsville|   NY|58065|    Evans Bank, N.A.|   24-Jul-09|    1-Nov-13|
+--------------------+-------------+-----+-----+--------------------+------------+------------+

In [38]:
# Between
df_select = renamed.where(renamed['CERT'].between('1000','2000'))
print(df_select.count())
df_select.show()

9
+--------------------+-------------+-----+----+--------------------+------------+------------+
|           bank_name|         city|state|cert|     acq_institution|closing_date|updated_date|
+--------------------+-------------+-----+----+--------------------+------------+------------+
|Barnes Banking Co...|    Kaysville|   UT|1252|         No Acquirer|   15-Jan-10|   23-Aug-12|
|     Mainstreet Bank|  Forest Lake|   MN|1909|        Central Bank|   28-Aug-09|   21-Aug-12|
|     Bank of Ephraim|      Ephraim|   UT|1249|       Far West Bank|   25-Jun-04|    9-Apr-08|
| Citizens State Bank|New Baltimore|   MI|1006|         No Acquirer|   18-Dec-09|   21-Mar-14|
|      Heartland Bank|      Leawood|   KS|1361|        Metcalf Bank|   20-Jul-12|   30-Jul-13|
|Glasgow Savings Bank|      Glasgow|   MO|1056|Regional Missouri...|   13-Jul-12|   19-Aug-14|
|           Hume Bank|         Hume|   MO|1971|       Security Bank|    7-Mar-08|   28-Aug-12|
| Fayette County Bank|   Saint Elmo|   IL|1802|United Fidelity B...|   26-May-17|   26-Jul-17|
|The Farmers Bank ...|    Lynchburg|   TN|1690|Clayton Bank and ...|   15-Jun-12|    8-Aug-16|
+--------------------+-------------+-----+----+--------------------+------------+------------+

In [39]:
# Is in
df_select = renamed.where(renamed['state'].isin('NY','AZ'))
print(df_select.count())
df_select.show()

21
+--------------------+-------------+-----+-----+--------------------+------------+------------+
|           bank_name|         city|state| cert|     acq_institution|closing_date|updated_date|
+--------------------+-------------+-----+-----+--------------------+------------+------------+
|    Copper Star Bank|   Scottsdale|   AZ|35463|  Stearns Bank, N.A.|   12-Nov-10|   20-Aug-12|
|Towne Bank of Ari...|         Mesa|   AZ|57697|Commerce Bank of ...|    7-May-10|   23-Aug-12|
|Western National ...|      Phoenix|   AZ|57917|  Washington Federal|   16-Dec-11|    5-Feb-15|
|  LibertyPointe Bank|     New York|   NY|58071|Valley National Bank|   11-Mar-10|   23-Aug-12|
|       Reliance Bank| White Plains|   NY|26778|    Union State Bank|   19-Mar-04|    9-Apr-08|
|            USA Bank| Port Chester|   NY|58072|    New Century Bank|    9-Jul-10|   14-Sep-12|
|      Bank USA, N.A.|      Phoenix|   AZ|32218|      U.S. Bank N.A.|   30-Oct-09|   22-Aug-12|
|The Park Avenue Bank|     New York|   NY|27096|Valley National Bank|   12-Mar-10|   23-Aug-12|
|Sunrise Bank of A...|      Phoenix|   AZ|34707|First Fidelity Ba...|   23-Aug-13|    3-May-17|
|Community Bank of...|      Phoenix|   AZ|57645|       MidFirst Bank|   14-Aug-09|   21-Aug-12|
|Valley Capital Ba...|         Mesa|   AZ|58399|Enterprise Bank &...|   11-Dec-09|   20-Oct-16|
|First Arizona Sav...|   Scottsdale|   AZ|32582|         No Acquirer|   22-Oct-10|   20-Aug-12|
|Central Arizona Bank|   Scottsdale|   AZ|34527|  Western State Bank|   14-May-13|    7-Dec-15|
|Union Bank, Natio...|      Gilbert|   AZ|34485|       MidFirst Bank|   14-Aug-09|   21-Aug-12|
|   Desert Hills Bank|      Phoenix|   AZ|57060|New York Communit...|   26-Mar-10|   23-Aug-12|
|    Gold Canyon Bank|  Gold Canyon|   AZ|58066|First Scottsdale ...|    5-Apr-13|    7-Oct-15|
|        NextBank, NA|      Phoenix|   AZ|22314|         No Acquirer|    7-Feb-02|    5-Feb-15|
|         Legacy Bank|   Scottsdale|   AZ|57820|Enterprise Bank &...|    7-Jan-11|   12-Apr-16|
|         Summit Bank|     Prescott|   AZ|57442|  The Foothills Bank|   15-Jul-11|   19-Aug-14|
|Waterford Village...|Williamsville|   NY|58065|    Evans Bank, N.A.|   24-Jul-09|    1-Nov-13|
+--------------------+-------------+-----+-----+--------------------+------------+------------+
only showing top 20 rows

# Filter with logical operations

In [40]:
df_select = renamed.where((renamed['state'] == 'NY') & (renamed['city'] == 'New York'))
df_select.show()

+--------------------+--------+-----+-----+--------------------+------------+------------+
|           bank_name|    city|state| cert|     acq_institution|closing_date|updated_date|
+--------------------+--------+-----+-----+--------------------+------------+------------+
|  LibertyPointe Bank|New York|   NY|58071|Valley National Bank|   11-Mar-10|   23-Aug-12|
|The Park Avenue Bank|New York|   NY|27096|Valley National Bank|   12-Mar-10|   23-Aug-12|
+--------------------+--------+-----+-----+--------------------+------------+------------+

# Replace values

In [44]:
replaced = renamed.na.replace(9268, 17)

replaced.show(20)

+--------------------+---------------+-----+-----+--------------------+------------+------------+
|           bank_name|           city|state| cert|     acq_institution|closing_date|updated_date|
+--------------------+---------------+-----+-----+--------------------+------------+------------+
|              InBank|     Oak Forest|   IL|20203|MB Financial Bank...|    4-Sep-09|   17-Oct-15|
|       Bank of Alamo|          Alamo|   TN| 9961|         No Acquirer|    8-Nov-02|   18-Mar-05|
|First Community B...|     Fort Myers|   FL|34943|             C1 Bank|    2-Aug-13|    9-Feb-17|
|The National Repu...|        Chicago|   IL|  916| State Bank of Texas|   24-Oct-14|    6-Jan-16|
|           NOVA Bank|         Berwyn|   PA|27148|         No Acquirer|   26-Oct-12|   24-Jan-13|
|First Cherokee St...|      Woodstock|   GA|32711|Community & South...|   20-Jul-12|    6-Jun-16|
|Net 1st National ...|     Boca Raton|   FL|26652|      Bank Leumi USA|    1-Mar-02|    9-Apr-08|
|       Waccamaw Bank|     Whiteville|   NC|34515|First Community Bank|    8-Jun-12|   21-Mar-14|
|Olde Cypress Comm...|      Clewiston|   FL|28864|CenterState Bank ...|   16-Jul-10|   11-Jul-16|
|Bank of Florida -...|Fort Lauderdale|   FL|57360|            EverBank|   28-May-10|    8-Aug-16|
|First National Ba...|       Danville|   IL| 3644|First Financial B...|    2-Jul-09|   20-Aug-12|
|       The RiverBank|        Wyoming|   MN|10216|        Central Bank|    7-Oct-11|    7-Nov-12|
|      Shoreline Bank|      Shoreline|   WA|35250|GBC International...|    1-Oct-10|   20-Aug-12|
|Appalachian Commu...|    McCaysville|   GA|58495|Peoples Bank of E...|   17-Dec-10|   21-Mar-14|
|        Premier Bank|         Denver|   CO|34112|United Fidelity B...|   10-Jul-15|   17-Aug-16|
|Patriot Bank of G...|        Cumming|   GA|58273|Georgia Commerce ...|    2-Sep-11|   28-Jun-17|
|    Bank of Illinois|         Normal|   IL|   17|Heartland Bank an...|    5-Mar-10|   23-Aug-12|
|The Bank of Miami...|   Coral Gables|   FL|19040|     1st United Bank|   17-Dec-10|   21-Mar-14|
|    Copper Star Bank|     Scottsdale|   AZ|35463|  Stearns Bank, N.A.|   12-Nov-10|   20-Aug-12|
|       Meridian Bank|         Eldred|   IL|13789|       National Bank|   10-Oct-08|   31-May-12|
+--------------------+---------------+-----+-----+--------------------+------------+------------+
only showing top 20 rows

# Aula Parte 2

## Criação spark e importação dos dados de COVID-19

In [45]:
'''!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j'''

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession.builder.appName("Our First Spark Example").getOrCreate()

spark

In [47]:


import requests
path = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'owid-covid-data.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

df = spark.read.csv('./'+csv_file_name, header=True, inferSchema=True)

## Schema

In [50]:
df.printSchema()

root
 |-- iso_code: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- location: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- total_cases: double (nullable = true)
 |-- new_cases: double (nullable = true)
 |-- new_cases_smoothed: double (nullable = true)
 |-- total_deaths: double (nullable = true)
 |-- new_deaths: double (nullable = true)
 |-- new_deaths_smoothed: double (nullable = true)
 |-- total_cases_per_million: double (nullable = true)
 |-- new_cases_per_million: double (nullable = true)
 |-- new_cases_smoothed_per_million: double (nullable = true)
 |-- total_deaths_per_million: double (nullable = true)
 |-- new_deaths_per_million: double (nullable = true)
 |-- new_deaths_smoothed_per_million: double (nullable = true)
 |-- reproduction_rate: double (nullable = true)
 |-- icu_patients: double (nullable = true)
 |-- icu_patients_per_million: double (nullable = true)
 |-- hosp_patients: double (nullable = true)
 |-- hosp_patients_per_million: double (nullable = true)
 |-- weekly_icu_admissions: double (nullable = true)
 |-- weekly_icu_admissions_per_million: double (nullable = true)
 |-- weekly_hosp_admissions: double (nullable = true)
 |-- weekly_hosp_admissions_per_million: double (nullable = true)
 |-- total_tests: double (nullable = true)
 |-- new_tests: double (nullable = true)
 |-- total_tests_per_thousand: double (nullable = true)
 |-- new_tests_per_thousand: double (nullable = true)
 |-- new_tests_smoothed: double (nullable = true)
 |-- new_tests_smoothed_per_thousand: double (nullable = true)
 |-- positive_rate: double (nullable = true)
 |-- tests_per_case: double (nullable = true)
 |-- tests_units: string (nullable = true)
 |-- total_vaccinations: double (nullable = true)
 |-- people_vaccinated: double (nullable = true)
 |-- people_fully_vaccinated: double (nullable = true)
 |-- total_boosters: double (nullable = true)
 |-- new_vaccinations: double (nullable = true)
 |-- new_vaccinations_smoothed: double (nullable = true)
 |-- total_vaccinations_per_hundred: double (nullable = true)
 |-- people_vaccinated_per_hundred: double (nullable = true)
 |-- people_fully_vaccinated_per_hundred: double (nullable = true)
 |-- total_boosters_per_hundred: double (nullable = true)
 |-- new_vaccinations_smoothed_per_million: double (nullable = true)
 |-- new_people_vaccinated_smoothed: double (nullable = true)
 |-- new_people_vaccinated_smoothed_per_hundred: double (nullable = true)
 |-- stringency_index: double (nullable = true)
 |-- population_density: double (nullable = true)
 |-- median_age: double (nullable = true)
 |-- aged_65_older: double (nullable = true)
 |-- aged_70_older: double (nullable = true)
 |-- gdp_per_capita: double (nullable = true)
 |-- extreme_poverty: double (nullable = true)
 |-- cardiovasc_death_rate: double (nullable = true)
 |-- diabetes_prevalence: double (nullable = true)
 |-- female_smokers: double (nullable = true)
 |-- male_smokers: double (nullable = true)
 |-- handwashing_facilities: double (nullable = true)
 |-- hospital_beds_per_thousand: double (nullable = true)
 |-- life_expectancy: double (nullable = true)
 |-- human_development_index: double (nullable = true)
 |-- population: double (nullable = true)
 |-- excess_mortality_cumulative_absolute: double (nullable = true)
 |-- excess_mortality_cumulative: double (nullable = true)
 |-- excess_mortality: double (nullable = true)
 |-- excess_mortality_cumulative_per_million: double (nullable = true)

## Conversão variável date para datetime

In [55]:
df.select('date').show(5)

+-------------------+
|               date|
+-------------------+
|2020-01-03 00:00:00|
|2020-01-04 00:00:00|
|2020-01-05 00:00:00|
|2020-01-06 00:00:00|
|2020-01-07 00:00:00|
+-------------------+
only showing top 5 rows

In [56]:
df.select(F.to_date(df.date).alias('date'))

DataFrame[date: date]

In [57]:
df.select('date').show(5)

+-------------------+
|               date|
+-------------------+
|2020-01-03 00:00:00|
|2020-01-04 00:00:00|
|2020-01-05 00:00:00|
|2020-01-06 00:00:00|
|2020-01-07 00:00:00|
+-------------------+
only showing top 5 rows

## Estatísticas

In [58]:
df.describe().show()

+-------+--------+-------------+-----------+-----------------+------------------+------------------+-----------------+-----------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+------------------+-------------+--------------------+--------------------+-----------------------+--------------------+-----------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+--------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|summary|iso_code|    continent|   location|      total_cases|         new_cases|new_cases_smoothed|     total_deaths|       new_deaths|new_deaths_smoothed|total_cases_per_million|new_cases_per_million|new_cases_smoothed_per_million|total_deaths_per_million|new_deaths_per_million|new_deaths_smoothed_per_million| reproduction_rate|      icu_patients|icu_patients_per_million|     hosp_patients|hosp_patients_per_million|weekly_icu_admissions|weekly_icu_admissions_per_million|weekly_hosp_admissions|weekly_hosp_admissions_per_million|        total_tests|         new_tests|total_tests_per_thousand|new_tests_per_thousand|new_tests_smoothed|new_tests_smoothed_per_thousand|      positive_rate|    tests_per_case|  tests_units|  total_vaccinations|   people_vaccinated|people_fully_vaccinated|      total_boosters| new_vaccinations|new_vaccinations_smoothed|total_vaccinations_per_hundred|people_vaccinated_per_hundred|people_fully_vaccinated_per_hundred|total_boosters_per_hundred|new_vaccinations_smoothed_per_million|new_people_vaccinated_smoothed|new_people_vaccinated_smoothed_per_hundred|  stringency_index|population_density|        median_age|    aged_65_older|    aged_70_older|    gdp_per_capita|   extreme_poverty|cardiovasc_death_rate|diabetes_prevalence|    female_smokers|      male_smokers|handwashing_facilities|hospital_beds_per_thousand|  life_expectancy|human_development_index|          population|excess_mortality_cumulative_absolute|excess_mortality_cumulative|  excess_mortality|excess_mortality_cumulative_per_million|
+-------+--------+-------------+-----------+-----------------+------------------+------------------+-----------------+-----------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+------------------+-------------+--------------------+--------------------+-----------------------+--------------------+-----------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+--------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|  count|  339615|       323458|     339615|           301840|            330177|            328918|           280505|           330220|             328990|                 301840|               330177|                        328918|                  280505|                330220|                         328990|            184817|             37344|                   37344|             38445|                    38445|                10061|                            10061|                 22935|                             22935|              79387|             75403|                   79387|                 75403|            103965|                         103965|              95927|             94348|       106788|               78503|               75151|                  71747|               46817|            64609|                   177758|                         78503|                        75151|                              71747|                     46817|                               177758|                        177453|                                    177453|            197651|            288224|            268071|           258678|           265385|            262705|            169264|               263279|             276685|            197481|            194792|                128949|                    232399|           312390|                 255196|              339615|                               11752|                      11752|             11752|                                  11752|
|   mean|    null|         null|       null|6455497.504760801| 9886.895895231952|  9924.51501478194|84724.40270583412|88.10294954878566|  88.42809027022096|      98330.69785706559|   149.40248694488108|            149.96915615138101|        857.138011286785|    0.9348039004300107|             0.9382228031247206|0.9114953710968153| 679.5090509854327|       16.37140552699229| 3956.593159058395|       131.09933715697775|     343.926051088361|               10.412406917801393|    4343.5097013298455|                 86.52358984085453|2.110457393801252E7| 67285.41211888121|       924.2547618627739|    3.2724657904857897| 142178.3636993219|              2.826308834703998|0.09816250586383392|2403.6328072667216|         null| 4.266984189553775E8|1.8968484234545115E8|   1.7255843917101762E8|1.0862933705617617E8|809102.3290718012|       309751.11811001477|            118.00508413691215|            51.83066719005743|                  46.90384559633141|         34.23583292393789|                   2009.1508174034361|            114703.01098318992|                       0.08116074678928768| 42.71402122933904|405.93208182868545|30.509368040557852|8.700388610550217|5.499945893701583|18990.586736526177|13.846236648076804|   264.26916809162867|  8.560836077126345|10.791487950739185| 32.91081656331097|    50.790630536105006|         3.097242819461358|73.71608079643184|     0.7224892788287711|1.2841650956473948E8|                   51199.82561454949|          9.764985534377132|11.640143805309732|                     1627.4122886500788|
| stddev|    null|         null|       null|3.9563212476243E7|111965.60543221561|  95927.3363777647|434307.5854534068|622.9821901411357|  567.6010717544062|      148239.4756252289|   1181.2998238588505|             608.7148160963146|      1089.5823758461663|     5.184423071927551|             2.8093749451068875|0.3999249955670577|2182.5513498405635|      23.104712841497562|10037.135254309227|        153.7051133767104|    529.9219531587297|               13.906959390487765|     11123.82482694945|                 89.65679225156245|8.409869431109451E7|247734.00456983934|       2195.428504333425|     9.033842747139177|1138214.6555840874|              7.308232579855921| 0.1159775734550082| 33443.66067673283|         null|1.5472581780208704E9| 6.809148794786265E8|    6.257465437637268E8|3.5835457617394775E8|3327198.273237822|       2011122.3218546046|             84.96793611351053|            29.83874221910487|                 29.490506780139228|        30.355918731833487|                   3219.4145265940647|             818243.1129822508|                       0.18226400229741724|24.911007214295772|1848.5073584429738| 9.083587071568529|6.094086687699535|4.135551546771558| 19951.91021612746| 20.08983312536667|   120.92675219075159|  4.941049037761744|10.779989180976807|13.573912198248243|     31.95584781718435|         2.548379979679761|7.395931679044144|     0.1489864710636198| 6.606650667360272E8|                  144739.41664455048|          12.58355500268585|25.533260200833066|                     1916.0336393990021|
|    min|     ABW|       Africa|Afghanistan|              1.0|               0.0|               0.0|              1.0|              0.0|                0.0|                    0.0|                  0.0|                           0.0|                     0.0|                   0.0|                            0.0|             -0.07|               0.0|                     0.0|               0.0|                      0.0|                  0.0|                              0.0|                   0.0|                               0.0|                0.0|               1.0|                     0.0|                   0.0|               0.0|                            0.0|                0.0|               1.0|people tested|                 0.0|                 0.0|                    1.0|                 1.0|              0.0|                      0.0|                           0.0|                          0.0|                                0.0|                       0.0|                                  0.0|                           0.0|                                       0.0|               0.0|             0.137|              15.1|            1.144|            0.526|            661.24|               0.1|                79.37|               0.99|               0.1|               7.7|                 1.188|                       0.1|            53.28|                  0.394|                47.0|                          -37726.098|                     -44.23|            -95.92|                             -2142.3403|
|    max|     ZWE|South America|   Zimbabwe|     7.70436563E8|         8401961.0|       6402036.286|        6956887.0|          27939.0|            14822.0|             737554.506|           228872.025|                     37241.781|                6501.224|               603.656|                        148.641|              5.87|           28891.0|                 180.675|          154497.0|                 1526.846|               4838.0|                          224.976|              153977.0|                           708.691|            9.214E9|       3.5855632E7|               32925.826|               531.062|       1.4769984E7|                        147.603|                1.0|         1023631.9|units unclear|     1.3502116609E10|       5.621649761E9|          5.169351954E9|       2.792608072E9|      4.9672561E7|              4.3690864E7|                         406.9|                       129.07|                             126.89|                    150.47|                             117113.0|                   2.1070833E7|                                    11.711|             100.0|         20546.766|              48.2|           27.049|           18.493|          116935.6|              77.6|              724.417|              30.53|              44.0|              78.1|                 100.0|                      13.8|            86.75|                  0.957|       7.975105024E9|                           1289776.5|                      76.55|            386.92|                              10292.916|
+-------+--------+-------------+-----------+-----------------+------------------+------------------+-----------------+-----------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+------------------+-------------+--------------------+--------------------+-----------------------+--------------------+-----------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+--------------------+------------------------------------+---------------------------+------------------+---------------------------------------+

# Groupby location -> new cases

In [65]:
df.groupBy('location').sum('new_cases').orderBy(F.desc("sum(new_cases)")).show(truncate=False)

+-------------------+--------------+
|location           |sum(new_cases)|
+-------------------+--------------+
|World              |7.70452934E8  |
|High income        |4.25238868E8  |
|Asia               |3.00438143E8  |
|Europe             |2.49217367E8  |
|Upper middle income|2.442881E8    |
|European Union     |1.83832173E8  |
|North America      |1.24412723E8  |
|United States      |1.03436829E8  |
|China              |9.9306563E7   |
|Lower middle income|9.7396408E7   |
|South America      |6.8818417E7   |
|India              |4.499808E7    |
|France             |3.899749E7    |
|Germany            |3.8437756E7   |
|Brazil             |3.7717635E7   |
|South Korea        |3.4436542E7   |
|Japan              |3.3803572E7   |
|Italy              |2.5955703E7   |
|United Kingdom     |2.4688073E7   |
|Russia             |2.2994849E7   |
+-------------------+--------------+
only showing top 20 rows